body {
  background-color: #000735;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#dpEditor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 80%;
  padding: 1%;
  background-color: #ed619b;
  border-radius: 1%;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}

#templateDP {
  position: relative;
  z-index: 1;
}

#uploadedProfile {
  object-fit: cover;
}

#uploadBtn {
  background-color: brown;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#downloadButton {
  margin-top: 10px;
  background-color: brown;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.stackImage {
  position: relative;
  width: 100%;
}

.stackImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 1%;
  -webkit-border-radius: 1%;
  -moz-border-radius: 1%;
  -ms-border-radius: 1%;
  -o-border-radius: 1%;
}